@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme="light"] {
  --background: #f0eae7;
  --button: #2c2826;
  --card: #e8e0dc;
  --subtle: #f0eae7;

  --text-primary: #2c2826;
  --text-secondary: #736863;
  --text-subtle: #beb6b2;
  --text-contrast: #faf6f6;

  --border-primary: #e8e0dc;
  --border-opaque: rgba(44, 40, 38, 0.15);

  --link: #ee7ca2;
  --shadow-custom: 0px 4px 20px 0px rgba(0, 0, 0, 0.04),
    0px 4px 12px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  --shadow-project: 0px 4px 8px -4px rgba(115, 104, 99, 0.1),
    0px 1px 1px -0.5px rgba(115, 104, 99, 0.1),
    0px 4px 12px -4px rgba(115, 104, 99, 0.5);
  --shadow-lab: 0px 12px 24px rgba(115, 104, 99, 0.12),
    0px 4px 8px rgba(115, 104, 99, 0.08), 0px 1px 1px rgba(115, 104, 99, 0.1),
    0px 4px 12px rgba(115, 104, 99, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2826;
    --button: #e8e0dc;
    --card: #3d3836;
    --subtle: #484442;

    --text-primary: #faf6f6;
    --text-secondary: #f0eae7;
    --text-subtle: #beb6b2;
    --text-contrast: #2c2826;

    --border-primary: #484442;
    --border-opaque: rgba(250, 246, 246, 0.1);

    --link: #ee7ca2;
  }
}

[data-theme="dark"] {
  --background: #2c2826;
  --button: #e8e0dc;
  --card: #3d3836;
  --subtle: #484442;

  --text-primary: #faf6f6;
  --text-secondary: #f0eae7;
  --text-subtle: #beb6b2;
  --text-contrast: #2c2826;

  --border-primary: #484442;
  --border-opaque: rgba(250, 246, 246, 0.1);

  --link: #ee7ca2;
  --shadow-custom: 0px 4px 20px 0px rgba(0, 0, 0, 0.04),
    0px 4px 12px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  --shadow-project: 0px 4px 8px -4px rgba(0, 0, 0, 0.1),
    0px 1px 1px -0.5px rgba(0, 0, 0, 0.1), 0px 4px 12px -4px rgba(0, 0, 0, 0.5);
  --shadow-lab: 0px 12px 24px rgba(0, 0, 0, 0.12),
    0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 4px 12px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
